{
  "openapi": "3.0.0",
  "info": {
    "title": "DarkRecon API",
    "description": "API for scanning keywords or domains for breach data. Results are stored and retrievable via scan UUID.",
    "version": "2.2.0"
  },
  "servers": [
    {
      "url": "https://darkrecon.1337807.xyz/",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/scan": {
      "post": {
        "tags": [
          "Scan"
        ],
        "summary": "Scan keywords or a domain for breach data",
        "description": "Accepts either a list of keywords (emails, phone numbers, usernames, IPs, passwords, car plates, social account IDs, or composite queries) OR a domain name. When a domain is provided, emails are enumerated from breach data for that domain and scanned automatically. Provide one or the other, not both. Results are stored and retrievable via the scan UUID. Passwords in returned records are masked.",
        "operationId": "scan",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScanRequest"
              },
              "examples": {
                "single_email": {
                  "summary": "Scan by email",
                  "value": {
                    "keywords": [
                      "user@example.com"
                    ]
                  }
                },
                "multiple_emails": {
                  "summary": "Scan multiple emails",
                  "value": {
                    "keywords": [
                      "user@example.com",
                      "other@example.com"
                    ]
                  }
                },
                "phone": {
                  "summary": "Scan by phone number",
                  "value": {
                    "keywords": [
                      "+79002206090"
                    ]
                  }
                },
                "username": {
                  "summary": "Scan by username",
                  "value": {
                    "keywords": [
                      "ShadowPlayer228"
                    ]
                  }
                },
                "ip": {
                  "summary": "Scan by IP address",
                  "value": {
                    "keywords": [
                      "127.0.0.1"
                    ]
                  }
                },
                "composite": {
                  "summary": "Composite query",
                  "value": {
                    "keywords": [
                      "ShadowPlayer228 example@gmail.com"
                    ]
                  }
                },
                "domain": {
                  "summary": "Scan by domain",
                  "value": {
                    "domain": "example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scan completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Breaches found",
                    "value": {
                      "scan_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "status": "success",
                      "total_breaches": 3
                    }
                  },
                  "domain_success": {
                    "summary": "Domain scan with discovered emails",
                    "value": {
                      "scan_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "status": "success",
                      "total_breaches": 125,
                      "discovered_emails": [
                        "user@example.com",
                        "admin@example.com"
                      ]
                    }
                  },
                  "no_results": {
                    "summary": "No breaches found",
                    "value": {
                      "scan_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "status": "no_results",
                      "total_breaches": 0
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Could not validate API key"
                }
              }
            }
          },
          "502": {
            "description": "Upstream API error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "type": "missing",
                      "loc": [
                        "header",
                        "x-api-key"
                      ],
                      "msg": "Field required",
                      "input": null
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/scan/{scan_id}": {
      "get": {
        "tags": [
          "Scan"
        ],
        "summary": "Get scan results by UUID",
        "description": "Retrieve the full stored results of a previous scan. The response includes top-level scan metadata and a `results` object keyed by breach database name. Each breach entry contains `InfoLeak`, `NumOfResults`, and a `Data` array of source-specific records. Passwords are masked in returned records.",
        "operationId": "getScan",
        "parameters": [
          {
            "name": "scan_id",
            "in": "path",
            "required": true,
            "description": "The UUID returned from POST /scan",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          }
        ],
        "responses": {
          "200": {
            "description": "Scan results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanResult"
                },
                "example": {
                  "scan_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                  "keywords": [
                    "user@example.com"
                  ],
                  "domain": null,
                  "total_breaches": 3,
                  "status": "success",
                  "created_at": "2026-03-30T10:30:00+00:00",
                  "results": {
                    "AlpineReplay": {
                      "InfoLeak": "Description of the breach...",
                      "NumOfResults": 1,
                      "Data": [
                        {
                          "Email": "user@example.com",
                          "Password(bcrypt)": "$2****************************xC",
                          "FirstName": "John",
                          "LastName": "Doe"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Could not validate API key"
                }
              }
            }
          },
          "404": {
            "description": "Scan not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Scan not found"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "type": "missing",
                      "loc": [
                        "header",
                        "x-api-key"
                      ],
                      "msg": "Field required",
                      "input": null
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authentication. Create keys via the admin dashboard."
      }
    },
    "schemas": {
      "ScanRequest": {
        "type": "object",
        "description": "Send exactly one of `keywords` or `domain`.",
        "properties": {
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of search terms — emails, phone numbers, usernames, IPs, passwords, car plates, social account IDs, or composite queries. Provide this OR domain, not both.",
            "example": [
              "user@example.com"
            ]
          },
          "domain": {
            "type": "string",
            "description": "Domain name to enumerate emails from and scan. Provide this OR keywords, not both.",
            "example": "example.com"
          }
        }
      },
      "ScanResponse": {
        "type": "object",
        "description": "Initial acknowledgement returned by `POST /scan`. Use `scan_id` with `GET /scan/{scan_id}` to retrieve full records.",
        "properties": {
          "scan_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for retrieving scan results via GET /scan/{scan_id}"
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "no_results",
              "no_queries"
            ],
            "description": "Scan result status"
          },
          "total_breaches": {
            "type": "integer",
            "description": "Number of breach databases found",
            "minimum": 0
          },
          "discovered_emails": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Emails discovered from domain enumeration (only present when domain was provided)"
          },
          "message": {
            "type": "string",
            "description": "Additional context (e.g. when no keywords were provided)"
          }
        }
      },
      "ScanResult": {
        "type": "object",
        "description": "Stored scan result returned by `GET /scan/{scan_id}`.",
        "properties": {
          "scan_id": {
            "type": "string",
            "format": "uuid"
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The keywords that were scanned"
          },
          "domain": {
            "type": "string",
            "nullable": true,
            "description": "Domain that was enumerated (if provided)"
          },
          "total_breaches": {
            "type": "integer",
            "description": "Number of breach databases found"
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "no_results",
              "no_queries",
              "error"
            ],
            "description": "Final stored scan status"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the stored scan record was created"
          },
          "discovered_emails": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Emails discovered from domain enumeration"
          },
          "error_detail": {
            "type": "string",
            "description": "Error message if scan failed"
          },
          "results": {
            "type": "object",
            "description": "Raw breach data keyed by database name. Each entry contains InfoLeak (description), NumOfResults (count), and Data (array of breach records). Passwords are masked.",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "InfoLeak": {
                  "type": "string",
                  "description": "Description of the breach"
                },
                "NumOfResults": {
                  "type": "integer",
                  "description": "Number of records in this breach"
                },
                "Data": {
                  "type": "array",
                  "description": "Breach records — fields vary per database (Email, Password, FirstName, LastName, BDay, AutoNumber, NickName, etc.)",
                  "items": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "Error message"
          }
        },
        "required": [
          "detail"
        ]
      },
      "HTTPValidationError": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "description": "List of validation issues returned by the API framework."
          }
        },
        "required": [
          "detail"
        ]
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "loc": {
            "type": "array",
            "description": "Where the validation error occurred.",
            "items": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            }
          },
          "msg": {
            "type": "string",
            "description": "Human-readable validation message."
          },
          "type": {
            "type": "string",
            "description": "Machine-readable validation error type."
          },
          "input": {
            "description": "The offending input value when available."
          }
        },
        "required": [
          "loc",
          "msg",
          "type"
        ]
      }
    }
  }
}
