{
  "openapi": "3.0.0",
  "info": {
    "title": "DarkRecon API",
    "description": "API for scanning emails, phone numbers, and domains for breach data. Results are stored and retrievable via scan UUID.",
    "version": "2.1.0"
  },
  "servers": [
    {
      "url": "https://darkrecon.1337807.xyz/",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/scan": {
      "post": {
        "tags": [
          "Scan"
        ],
        "summary": "Scan emails, phone numbers, or a domain for breach data",
        "description": "Accepts either a list of emails/phone numbers OR a domain name. When a domain is provided, emails are enumerated from breach data for that domain and scanned automatically. Results are stored in the database and can be retrieved later via the scan UUID.",
        "operationId": "scan",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScanRequest"
              },
              "examples": {
                "emails_only": {
                  "summary": "Scan by emails",
                  "value": {
                    "queries": [
                      "user@example.com",
                      "other@example.com"
                    ]
                  }
                },
                "domain_only": {
                  "summary": "Scan by domain",
                  "value": {
                    "domain": "example.com"
                  }
                },
                "phone_only": {
                  "summary": "Scan by phone number",
                  "value": {
                    "queries": [
                      "+1234567890"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scan completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Breaches found",
                    "value": {
                      "scan_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "status": "success",
                      "total_breaches": 125,
                      "discovered_emails": [
                        "user@example.com",
                        "admin@example.com"
                      ]
                    }
                  },
                  "no_results": {
                    "summary": "No breaches found",
                    "value": {
                      "scan_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "status": "no_results",
                      "total_breaches": 0
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Upstream API error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/scan/{scan_id}": {
      "get": {
        "tags": [
          "Scan"
        ],
        "summary": "Get scan results by UUID",
        "description": "Retrieve the full results of a previously completed scan, including breach data categorized by type (usernames, emails, passwords, IPs, etc.) and occurrence tracking per breach source.",
        "operationId": "getScan",
        "parameters": [
          {
            "name": "scan_id",
            "in": "path",
            "required": true,
            "description": "The UUID returned from POST /scan",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          }
        ],
        "responses": {
          "200": {
            "description": "Scan results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanResult"
                },
                "example": {
                  "scan_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                  "queries": [
                    "user@example.com"
                  ],
                  "domain": null,
                  "total_breaches": 12,
                  "status": "success",
                  "created_at": "2026-02-26T10:30:00+00:00",
                  "results": {
                    "occurrences": {
                      "emails_occurances": "BreachDB1, BreachDB2",
                      "passwords_occurances": "BreachDB1"
                    },
                    "data": {
                      "emails": [
                        "user@example.com"
                      ],
                      "passwords": [
                        "pa**rd"
                      ],
                      "usernames": [
                        "johndoe"
                      ]
                    },
                    "counts": {
                      "total_breaches": 12,
                      "usernames_count": 1,
                      "emails_count": 1,
                      "passwords_count": 1
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Scan not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authentication. Create keys via the admin dashboard."
      }
    },
    "schemas": {
      "ScanRequest": {
        "type": "object",
        "properties": {
          "queries": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of emails and/or phone numbers to scan for breaches. Provide this OR domain, not both.",
            "example": [
              "user@example.com",
              "+1234567890"
            ]
          },
          "domain": {
            "type": "string",
            "description": "Domain name to enumerate emails from and scan. Provide this OR queries, not both.",
            "example": "example.com"
          }
        }
      },
      "ScanResponse": {
        "type": "object",
        "properties": {
          "scan_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for retrieving scan results via GET /scan/{scan_id}"
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "no_results",
              "no_queries"
            ],
            "description": "Scan result status"
          },
          "total_breaches": {
            "type": "integer",
            "description": "Total number of breaches found",
            "minimum": 0
          },
          "discovered_emails": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Emails discovered from domain enumeration (only present when domain was provided)"
          },
          "message": {
            "type": "string",
            "description": "Additional context (e.g. when no queries were provided)"
          }
        }
      },
      "ScanResult": {
        "type": "object",
        "properties": {
          "scan_id": {
            "type": "string",
            "format": "uuid"
          },
          "queries": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The queries that were scanned"
          },
          "domain": {
            "type": "string",
            "nullable": true,
            "description": "Domain that was enumerated (if provided)"
          },
          "total_breaches": {
            "type": "integer",
            "description": "Total number of breaches found"
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "no_results",
              "no_queries",
              "error"
            ],
            "description": "Scan result status"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the scan was performed"
          },
          "discovered_emails": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Emails discovered from domain enumeration"
          },
          "error_detail": {
            "type": "string",
            "description": "Error message if scan failed"
          },
          "results": {
            "type": "object",
            "description": "Breach analysis results (only present for successful scans)",
            "properties": {
              "occurrences": {
                "type": "object",
                "description": "Comma-separated breach source names per data category",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "data": {
                "type": "object",
                "description": "Unique values found per category (usernames, emails, passwords, encrypted_passwords, fullnames, addresses, ips, telephones, vehicles, dateofbirths, geolocations)",
                "additionalProperties": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "counts": {
                "type": "object",
                "description": "Count of unique values per category plus total_breaches",
                "additionalProperties": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  }
}
