{
  "swagger": "2.0",
  "info": {
    "title": "RTS WPScan API",
    "description": "RTS WPScan API for performing WordPress scans and retrieving reports",
    "version": "1.0"
  },
  "basePath": "/",
  "paths": {
    "/scan": {
      "post": {
        "summary": "Initiate a new scan",
        "parameters": [
          {
            "name": "url",
            "in": "formData",
            "description": "URL to scan",
            "required": true,
            "type": "string"
          },
          {
            "name": "mode",
            "in": "formData",
            "description": "Mode of scanning: normal or aggressive (normal if empty)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Scan initiated successfully",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "success"
                },
                "scan_id": {
                  "type": "string",
                  "example": "unique_report_id"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Unauthorized"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "get": {
        "summary": "Initiate a new scan",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "URL to scan",
            "required": true,
            "type": "string"
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Mode of scanning (normal by default)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Scan initiated successfully",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "success"
                },
                "scan_id": {
                  "type": "string",
                  "example": "unique_report_id"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Unauthorized"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/report/{report_id}": {
      "get": {
        "summary": "Get the report for a specific scan",
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "description": "ID of the report to retrieve",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Report found",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Report not found",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "pending"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "APIKeyHeader": {
      "type": "apiKey",
      "name": "API-Key",
      "in": "header"
    }
  },
  "host": "rtswpscan.slayers.tech",
  "schemes": [
    "https"
  ]
}
